html {
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1513049560516-4924f003b501?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d45ad180dff1e05f7b3c2b3aee1e42f3&auto=format&fit=crop&w=1079&q=80);
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: center;
    color: white;
}
#content {
    text-align: center;
    padding: 25%;
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4), */
    /*              0px 8px 13px rbga(0,0,0,0,0.1), */
    /*              0px 18px 23px rbga(0,0,0,0,0.1); */
    /* text-shadow: 0px 4px 3px rgba(255, 0, 0, 1), */
    /*              0px 8px 13px rbga(0, 0, 0, 0, 1), */
    /*              0px 18px 23px black; */
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    border-color: white;
    border-bottom: 1px solid rgba(0,0,0,0,0.2);
}
#intro {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,1),
    0px 8px 13px rgba(0,0,0,0.5),
    0px 18px 23px rgba(0,0,0,0.3);    
}
